.loader__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.loader__wrapper .loader__image {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(187, 221, 0, 0.5);
  border-radius: 50%;
  border-top-color: #bbdd00;
  animation: loader 1.5s linear infinite;
}

@keyframes loader {
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
