.auth__form {
  font-family: inherit;
}
.auth__form fieldset {
  display: flex;
  flex-direction: column;
}
.auth__title {
  background: linear-gradient(88.92deg, #7540f0 0.38%, #7b61ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 36px;
  text-align: center;
}
.auth__form label {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
  transition: all 0.2s linear;
}
.auth__form input {
  font-family: inherit;
  font-weight: 500;
  color: #000;
  font-size: 16px;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 36px;
  transition: all 0.2s linear;
}
.auth__form input:focus,
.auth__form input:hover {
  border-bottom-color: #7b61ff;
}
.auth__form .auth__btn {
  background: #7540f0;
  border-radius: 4px;
  padding: 15px 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  width: fit-content;
  margin: 0 auto 27.5px;

  transition: all 0.2s linear;
}
.auth__form .auth__btn:hover {
  opacity: 0.85;
}
.auth__link {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  margin-bottom: 25px;
}
.auth__link:last-child {
  margin-bottom: 0;
}
.auth__text {
  color: #808080;
  font-weight: 500;
  margin-right: 20px;
}
.auth__reg {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}
.auth__link img {
  transition: all 0.2s linear;
  margin-left: 17px;
}
.auth__reg:hover img {
  transform: translateX(5px);
}
.reg__group {
  display: flex;
  flex-wrap: wrap;
}
.reg__group div {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-right: 20px;
}
.reg__group div:nth-child(2n) {
  margin-right: 0;
}
.reg__checkbox {
  margin: 0 auto;
}
.reg__checkbox .checkbox__label {
  cursor: pointer;
  color: #000;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
}
.reg__checkbox .custom__checkbox {
  z-index: -1;
  position: absolute;
  opacity: 0;
}
.reg__checkbox .custom__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-bottom: 25px;
}
.reg__checkbox .custom__checkbox + label::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  margin-right: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  transition: all 0.2s linear;
}
.reg__checkbox .custom__checkbox:checked + label::before {
  background-color: #7b61ff;
  border-color: #7b61ff;
}
.reg__btn:disabled {
  background: #404040;
  color: #808080;
}
.reg__btn {
  background: #7540f0;
  color: #fff;
  border-radius: 4px;
  padding: 15px 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  width: fit-content;
  margin: 0 auto;

  transition: all 0.2s linear;
}
.reg__btn:hover {
  opacity: 0.85;
}
