.table {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border-collapse: collapse;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #301070;
  margin-bottom: 50px;
}

.table tbody tr {
  background: rgba(16, 0, 37, 0.15);
  border-bottom: 2px solid #301070;
}
.table tbody tr:nth-child(2n) {
  background: rgba(16, 0, 37, 0.25);
}

.table__title {
  width: 100%;
  background: #301070 !important;
  color: #fff;
  text-transform: uppercase;
}

.table__title th,
td {
  padding: 20px 40px;
  text-align: left;
}

.table td {
  color: #e0d8ff;
}

.table .green {
  color: #bbdd00;
  margin-bottom: 3px;
}

.table .newGreen {
  font-size: 24px;
  font-weight: 500;
}

.table__group {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.table__group img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
}
.table__newGroup {
  color: #e0d8ff;
  font-weight: inherit;
  font-size: 14px;
  font-family: inherit;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.table__line {
  margin-top: 10px;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background: #100025;
  position: relative;
  z-index: 9;
}

.table__line_width {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 4px;
  z-index: 10;
  border-radius: 4px;
}

.caption {
  display: flex;
  align-items: center;
  caption-side: bottom;
  color: #fff;
  background: transparent;
  padding: 20px;
}

.caption span {
  color: #e0d8ff;
  margin-left: 15px;
}

.caption img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 12px;
}

.table__btn {
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
  background: #fff;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  color: #000;
}
