.arrow {
  position: fixed;
  bottom: 60px;
  right: 50px;
  z-index: 50;
  background: #7540f0;
  box-shadow: 0px 15px 30px -15px rgba(16, 0, 37, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  cursor: pointer;
}
.arrow img {
  transition: all 0.2s linear;
}
.arrow:hover img {
  transform: translateY(-5px);
}
