.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 40px 80px;
  background: #ffffff;
  box-shadow: 0px 32px 128px -48px rgba(16, 0, 37, 0.25);
  border-radius: 10px;
  transition: all 0.2s linear;
  width: auto;
  max-width: 750px;
  position: relative;
}
.modal__close {
  position: absolute;
  top: 23px;
  right: 23px;
  cursor: pointer;
}
.modal__close svg path {
  transition: all 0.2s linear;
}
.modal__close:hover svg path {
  fill: #7b61ff;
}
