.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 22px;
  z-index: 50;
  transition: all 0.2s linear;
  cursor: pointer;
}

.header__menu {
  margin-right: 22px;
  cursor: pointer;
}

.header__menu span {
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.2s linear;
}
.menu.active .header {
  opacity: 0;
  visibility: hidden;
}

.header__menu span:last-child {
  margin-bottom: 0;
}
.header:hover span:first-child {
  transform: translateX(-5px);
}
.header:hover span:last-child {
  transform: translateX(5px);
}
.menu {
  width: 20%;
  position: fixed;
  z-index: 150;
  width: auto;
  height: 100vh;
}

.menu.active .menu__overlay {
  opacity: 1;
  visibility: visible;
}
.menu.active .menu__body {
  left: 0;
}
.menu__body {
  overflow: hidden;
  width: 20%;
  position: fixed;
  top: 0;
  left: -20%;
  height: 100vh;
  background: #301070;
  padding: 20px 40px;
  z-index: 150;
  color: #fff;
  transition: left 0.2s linear;
}
.menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.menu__close svg path {
  fill: #fff;
  transition: all 0.2s linear;
}
.menu__close:hover svg path {
  fill: #bbdd00;
}

.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 149;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
  opacity: 0;
  visibility: hidden;
}

.menu__title {
  margin-bottom: 75px;
}

.menu__nav a,
.menu__nav .auth {
  color: #fff;
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  transition: all 0.2s linear;
  width: fit-content;
}

.menu__nav a:hover {
  color: #bbdd00;
}

.menu__nav .auth {
  display: flex;
  align-items: center;
  background: rgba(16, 0, 37, 0.05);

  border: 2px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(32px);
  padding: 15px 25px;
  width: fit-content;
  margin: 90px auto 0;
  color: #fff;
  cursor: pointer;
}
.menu__nav .auth:hover {
  color: #bbdd00;
  border-color: #bbdd00;
}

.menu__nav .auth svg {
  margin-right: 15px;
  transition: all 0.2s linear;
}
.menu__nav .auth svg path {
  transition: all 0.2s linear;
}
.menu__nav .auth:hover svg path {
  fill: #bbdd00;
}
