.footer__wrapper {
  background: rgba(16, 0, 37, 0.25);
  padding: 25px 80px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: #e0d8ff;
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
  align-content: center;
}
.footer__copy {
  margin-right: 20px;
}
.footer__nav {
  display: flex;
  /* width: 100%; */
  /* justify-content: space-between; */
  align-items: flex-end;
}
.footer__nav a {
  color: #e0d8ff;
  margin-right: 40px;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  transition: all 0.2s linear;
}
.footer__nav a:hover {
  border-bottom-color: #e0d8ff;
}
.footer__nav a:last-child {
  margin-right: 0;
}
