@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(./reset.css);
@import url(./media.css);

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: url('./img/bg.png') top no-repeat;
  background-color: #200050;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 22px;
  margin: 0 auto;
}

.main__title {
  margin-top: 150px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;

  text-transform: uppercase;

  background: linear-gradient(268.55deg, #ebc1ff 0%, #e0d8ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 8px 16px rgba(16, 0, 37, 0.15);
  margin-bottom: 50px;
}

.content__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1060px;
}

.body__wrapper {
  position: relative;
}
