@media (max-width: 1280px) {
  th,
  td {
    padding-top: calc(
      5px + (20 - 5) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    padding-bottom: calc(
      5px + (20 - 5) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    padding-left: calc(
      5px + (40 - 5) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    padding-right: calc(
      5px + (40 - 5) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    font-size: calc(7px + (16 - 7) * ((100vw - 320px) / (1280 - 320)));
  }
  .details__table th,
  .details__table td {
    padding: calc(2px + (20 - 2) * ((100vw - 320px) / (1024 - 320)))
      calc(2px + (10 - 2) * ((100vw - 320px) / (1024 - 320))) !important;
    font-size: calc(6px + (16 - 6) * ((100vw - 320px) / (1280 - 320)));
  }
  .Table_caption__SV6gf {
    padding: calc(5px + (20 - 5) * ((100vw - 320px) / (1280 - 320))) !important;
  }
  .Table_caption__SV6gf img {
    max-width: calc(
      12px + (20 - 12) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    max-height: calc(
      12px + (20 - 12) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .Table_table__group__ZO\+8j img {
    max-width: calc(
      20px + (40 - 20) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    max-height: calc(
      20px + (40 - 20) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .Table_table__line__T3syD {
    margin-top: calc(
      5px + (10 - 5) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .Table_table__ECBib {
    margin-bottom: calc(
      20px + (50 - 20) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .Table_table__btn__5gIDU {
    padding-top: calc(
      10px + (15 - 10) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    padding-bottom: calc(
      10px + (15 - 10) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    padding-left: calc(
      10px + (20 - 10) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    padding-right: calc(
      10px + (20 - 10) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    font-size: calc(
      12px + (16 - 12) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .Table_table__ECBib .Table_newGreen__5aa9G {
    font-size: calc(
      10px + (24 - 10) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .Table_table__newGroup__5-nut {
    font-size: calc(
      7px + (14 - 7) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .footer__wrapper {
    font-size: calc(
      6px + (16 - 6) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    padding-left: calc(
      10px + (80 - 10) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    padding-right: calc(
      10px + (80 - 10) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .footer__nav a {
    margin-right: calc(
      15px + (40 - 15) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .main__title {
    font-size: calc(
      20px + (48 - 20) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    margin-bottom: calc(
      20px + (50 - 20) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    margin-top: calc(
      100px + (150 - 100) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .arrow {
    bottom: calc(
      20px + (60 - 20) * ((100vw - 320px) / (1280 - 320))
    ) !important;
    right: calc(15px + (50 - 15) * ((100vw - 320px) / (1280 - 320))) !important;
    width: calc(40px + (64 - 40) * ((100vw - 320px) / (1280 - 320))) !important;
    height: calc(
      40px + (64 - 40) * ((100vw - 320px) / (1280 - 320))
    ) !important;
  }
  .menu__body {
    width: calc(40% + (20 - 40) * ((100vw - 769px) / (1280 - 769))) !important;
    left: calc(-40% + (20 - 40) * ((100vw - 769px) / (1280 - 769))) !important;
  }
  .menu.active .menu__body {
    left: 0 !important;
  }
}
@media (max-width: 1024px) {
  .details__content {
    display: block !important;
  }
  .details__win {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .details__stats {
    justify-content: center !important;
    margin-bottom: 25px !important;
  }
  .details__info {
    justify-content: center !important;
  }

  .details__item_usage {
    font-size: calc(
      6px + (14 - 6) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .caption__team {
    font-size: calc(
      9px + (16 - 9) * ((100vw - 320px) / (1024 - 320))
    ) !important;
    margin-right: calc(
      5px + (20 - 5) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .caption__stats {
    font-size: calc(
      7px + (9 - 7) * ((100vw - 320px) / (1024 - 320))
    ) !important;
    margin-right: calc(
      5px + (20 - 5) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .caption__status {
    font-size: calc(
      6px + (16 - 6) * ((100vw - 320px) / (1024 - 320))
    ) !important;
    padding-left: calc(
      10px + (15 - 10) * ((100vw - 320px) / (1024 - 320))
    ) !important;
    padding-right: calc(
      10px + (15 - 10) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .caption {
    padding-top: calc(
      10px + (20 - 10) * ((100vw - 320px) / (1024 - 320))
    ) !important;
    padding-bottom: calc(
      10px + (20 - 10) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .details__win {
    padding-top: calc(
      5px + (10 - 5) * ((100vw - 320px) / (1024 - 320))
    ) !important;
    padding-bottom: calc(
      5px + (10 - 5) * ((100vw - 320px) / (1024 - 320))
    ) !important;
    font-size: calc(
      12px + (16 - 12) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .details__gamemode {
    font-size: calc(
      12px + (24 - 12) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .details__score {
    font-size: calc(
      40px + (64 - 40) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .details__duration {
    font-size: calc(
      20px + (32 - 20) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .details__endTime {
    font-size: calc(
      10px + (16 - 10) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .details__info_title {
    font-size: calc(
      12px + (16 - 12) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .details__info_text {
    font-size: calc(
      10px + (14 - 10) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .details__btn {
    margin-top: 0;
    padding-top: calc(
      5px + (15 - 5) * ((100vw - 320px) / (1024 - 320))
    ) !important;
    padding-bottom: calc(
      5px + (15 - 5) * ((100vw - 320px) / (1024 - 320))
    ) !important;
    padding-left: calc(
      10px + (20 - 10) * ((100vw - 320px) / (1024 - 320))
    ) !important;
    padding-right: calc(
      10px + (20 - 10) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .details__btns {
    margin-bottom: 25px !important;
  }
  .details__main_title {
    font-size: calc(
      14px + (40 - 14) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }

  .Form_auth__title__Zk7Cg {
    font-size: calc(
      26px + (48 - 26) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .Form_auth__form__av91E input {
    font-size: calc(
      12px + (16 - 12) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .Form_auth__text__0TRwQ {
    margin-right: calc(
      5px + (20 - 5) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .Form_auth__reg__L-WtT {
    margin-right: calc(
      5px + (20 - 5) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .Form_auth__link__HjHbq {
    font-size: calc(
      12px + (16 - 12) * ((100vw - 320px) / (1024 - 320))
    ) !important;
  }
  .modal__content {
    padding: calc(30px + (40 - 30) * ((100vw - 320px) / (1024 - 320)))
      calc(25px + (80 - 25) * ((100vw - 320px) / (1024 - 320))) !important;
  }
  .Form_reg__group__aWiSj div {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .menu__body {
    width: 100% !important;
    left: -100% !important;
  }
}
