*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{
	outline: none;
}
a:focus,a:active{
	outline: none;
}

ul[class],
ol[class] {
  padding: 0;
}

body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,
figcaption,blockquote,dl,dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

ul[class],
ol[class] {
  list-style: none;
}

ul li{
	list-style: none;
}

a, a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

/* input,
button,
textarea,
select {
  font: inherit;
} */

input::-ms-clear{
	display: none;
}
button{
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
nav,footer,header,aside{
	display: block;
}