.details__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  font-family: inherit;
  margin-bottom: 25px;
  color: #fff;
}
.details__win {
  background: #ffffff;
  border-radius: 10px;
  font-weight: 700;
  color: #7d3800;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.details__win img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.details__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.details__stats_info {
  margin: 0 20px;
}
.details__score {
  font-size: 64px;
  font-weight: 700;
}
.green,
.details__tr td.green {
  color: #bbdd00;
}
.orange,
.details__tr td.orange {
  color: #fa7000;
}
.yellow,
.details__tr td.yellow {
  color: #eecd00;
}
.details__gamemode {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.details__gamemode::first-letter {
  text-transform: uppercase;
}
.details__duration {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}
.details__endTime {
  font-size: 16px;
  color: #e0d8ff;
}
.details__info {
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.details__info_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.details__info_text {
  color: #e0d8ff;
  font-size: 14px;
  font-weight: 500;
}
.details__info_item {
  margin-left: 30px;
}
.details__info_item:first-child {
  margin-left: 0;
}
.details__btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.details__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  background: #fff;
  border-radius: 4px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.details__btns a {
  cursor: pointer;
}
.details__btn:first-child {
  margin-right: 10px;
}
.details__btn img {
  margin-right: 13px;
}

.caption {
  display: flex;
  padding: 20px 10px;
  width: 0;
  white-space: nowrap;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
}
.caption__team {
  color: #fff;
  margin-right: 20px;
}
.caption__stats {
  color: #e0d8ff;
  margin-right: 20px;
}
.caption__status {
  border-radius: 30px;
  padding: 5px 15px;
}
.caption__status.green {
  background: rgba(187, 221, 0, 0.25);
  color: #bbdd00;
}
.caption__status.orange {
  color: #fa7000;
  background: rgba(250, 112, 0, 0.25);
}

.details__table th,
.details__table td {
  padding: 20px 10px;
}
.details__warning {
  color: #eecd00;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.details__warning img {
  margin-right: 13px;
}
.details__item_usage {
  font-size: 14px;
}
